*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body{
  background-color: #efefef;
}

.header{
  width: 100%;
  height: 100px;
  display: block;
  background-color: #666666;
  font-family: 'Comfortaa', cursive;
}

.inner_header{
  width: 70%;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: inherit;
}

.logo_container{
  height: 100%;
  display: table;
  float: left;
  font-weight: bold;
}

.logo_container h1{
  color: white;
  height: 100%;
  font-size: 40px;
  display: table-cell;
  vertical-align: middle;
}

.navigation{
  float: right;
  height: 100%;
}

.navigation a{
  height: 100%;
  display: table;
  float: left;
  color: white;
  text-decoration: underline;
  padding: 10px;
}

.navigation a:last-child{
  padding-right: 0;
}

.navigation a li{
  display: table-cell;
  vertical-align: bottom;
  height: 100%;
  color: white;
}

.container{
  display: block;
  margin: 20px auto;
  padding: 20px;
  width: 40%;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  background-color: inherit;
}

.question{
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.num {
  height: 50px;
  width: 50px;
  margin: auto;
  text-align: center;
  font-size: 30px;
  background-color: #434343;
  color: white;
  border-radius: 50%;
  display: inline-block;
}

.text{

  padding: 15px;
  width: 80%;
}

.answers{
  margin: 0px 70px 20px 20px;
  display: flex;
  flex-direction: column;
}


.option {
  background-color: #efefef;
  margin: 5px;
  border: 1px #000 solid;
  color: #434343;
  min-width:300px;
  padding: 15px 32px;
  min-height:20px;
  border-radius: 30px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.option:hover {
  background-color:#cccccc;
  color:#fff;
}

.selected-option{
	background-color:#cccccc;
	color:#fff;
}

.option-radio{padding:auto;display:inline-block;width:30px;height:30px;vertical-align:middle;color:#000;border-radius:30px;border:#000 1px solid;background-color:#efefef;}

.selected-option .option-radio > div{background-color:#434343;border:1px #000 solid;width:20px;height:20px;margin:4px;border-radius:15px;}


.option-label{display:inline-block;margin-left:20px;vertical-align:middle;}

.next-question {padding:10px;background-color:#ddd;border:1px solid #000;border-radius:5px;font-size:17px;outline:none;}

.next-question:hover {
  color:#fff;
}

#countdown {
  color:#434343;
  font-size:25px;
  font-family: 'Noto Sans JP', sans-serif;
}

@keyframes glitched1 {
		from {padding-bottom:50px;padding-left:12px;padding-right:0px;padding-top:-16px;}
		to {padding-bottom:-23px;padding-left:32px;padding-right:12px;padding-top:-33px;}
}

@keyframes glitched2 {
		10% {position:relative;left:0;top:0;}
		15% {position:relative;left:45px;top:-23px;}
		20% {position:relative;left:-20px;top:-70px;}
		25%{position:relative;left:30px;top:40px;}
		30% {position:relative;left:0;top:0;}
		100% {position:relative;left:0;top:0;}
}

@keyframes glitched3 {
		10% {position:relative;left:0;top:0;}
		15% {position:relative;left:45px;top:5px;}
		20% {position:relative;left:-63px;top:-2px;}
		25%{position:relative;left:17px;top:3px;}
		30%{position:relative;left:-53px;top:1px;}
		35%{position:relative;left:26px;top:4px;}
		40% {position:relative;left:0;top:0;}
		100% {position:relative;left:0;top:0;}
}

@keyframes glitched4{
	0%{transform:rotate(0deg) skewY(0deg) skewX(0deg);}
	12%{transform:rotate(40deg) skewY(-32deg) skewX(12deg);}
	14%{transform:rotate(-22deg) skewY(5deg) skewX(-19deg);}
	19%{transform:rotate(32deg) skewY(42) skewX(192deg);}
	25%{transform:rotate(0deg) skewY(0deg) skewX(0deg);}
	40%{transform:rotate(0deg) skewY(0deg) skewX(0deg);}
	49%{transform:rotate(-22deg) skewY(5deg) skewX(-19deg);}
	55%{transform:rotate(32deg) skewY(42) skewX(192deg);}
	67%{transform:rotate(40deg) skewY(-32deg) skewX(12deg);}
	70%{transform:rotate(0deg) skewY(0deg) skewX(0deg);}
}

@keyframes fadetoblack{
	from{background-color:#efefef;}
	to{background-color:#000;}
}



.glitched1{
	animation-name:glitched1;
	animation-duration:0.2s;
	animation-iteration-count:infinite;
}

.glitched2{
	animation-name:glitched2;
	animation-duration:1.9s;
	animation-delay:0.9s;
	animation-iteration-count:infinite;
}

.glitched3{
	animation-name:glitched3;
	animation-duration:0.8s;
	animation-delay:0.9;
	animation-iteration-count:infinite;
}

.glitched4{
	animation-name:glitched4;
	animation-duration:1.7s;
	animation-delay:0.2s;
	animation-iteration-count:infinite;
}

.fadetoblack{
	animation-name:fadetoblack;
	animation-duration:6s;
}

.form {
    height: 200px;
    width: 400px;
    background: #999 solid;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

#pwd{
	font-size:15px;
	padding:5px;
	display:inline-block;
	border-radius:5px;
	border:2px #111 solid;
	outline:none;

}	

#pwd:focus{
	border:2px #999 solid;
}

#submit{
	display:inline-block;
	height:30px;
	border:1px solid #fff;
	background-color:#292929;
	border-radius:10px;
	color:#fff;
	outline:none;
	
}
	
#myBar {
  width: 10%;
  font-size:15px;
  padding:20px;
  background-color: #4CAF50;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}